<!--<div class="d-flex justify-content-around flex-wrap" *ngFor="let recipe of recipes">-->
<!--  <div class="col-9 col-sm-6 col-md-4 col-lg-3 col-xxl-2 width-150 bg-style m-2">-->
<!--    <img class="img-thumbnail d-block m-auto" src="assets/image/logo2.png" alt="Recipe">-->
<!--    <span><strong>{{ recipe.name }}</strong></span>-->
<!--  </div>-->
<!--</div>-->


<div class="d-flex important! justify-content-center flex-wrap">
  <div *ngFor="let  recipe of recipes">
<!--    <div class="col col-lg-2 col-xxl-1 bg-style m-2">-->
    <div class="col-8 col-sm-5 col-lg-3 bg-style">
      <img class="img-thumbnail d-block m-auto" src="assets/image/logo2.png" alt="Recipe">
      <span><strong>{{ recipe.name }}</strong></span>
    </div>
<!--    </div>-->
  </div>
</div>
