<div class="navbar navbar-expand-lg col= z-1">
  <div class="container-fluid">
    <button class="navbar-toggler navbar-dark bg-style p-2 mr-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-nav" id="navbar">
      <div class="navbar-nav">
        <div class="text-lg-start col d-block">
          <br>
          <div class="bg-nav-item col p-3">
            <strong>HOME</strong>
          </div>
          <br>
          <div class="bg-nav-item col p-3">
            <strong>ALL RECIPES</strong>
          </div>
          <br>
          <div class="bg-nav-item col p-3">
            <strong>SHOPPING LISTS</strong>
          </div>
          <br>
          <div class="bg-nav-item col p-3">
            <strong>FAVORITE RECIPES</strong>
          </div>
          <br>
          <div class="bg-nav-item col p-3">
            <strong>ACCOUNT SETTING</strong>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
