<div class="bgl-page">

  <div class="row d-flex justify-content-end">
      <app-back-arrow></app-back-arrow>
  </div>
  <div id="shopping-list" class="container text-center py-3 ml-5">

    <div class="sum pb-3">
      <p class="sum pb-3">shopping-list - DD/MM/YYYY</p>
      <div class="row">
        <div class="col-5">
          <p>Product DESCRIPTION</p>
        </div>
        <div class="col-2">
          Amount
        </div>
        <div class="col-5">
          Grammage
        </div>
      </div>
      <div class="row" *ngFor="let product of products">
        <div class="col-5 list-data">{{product.original}}</div>
        <div class="col-2 list-data">{{product.measuresAmount}}</div>
        <div class="col-5 list-data">{{product.measuresUnitShort}}
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <app-email></app-email>
      <button class="button ml-5" (click)="printPDF()">
        <img src="assets/image/Icon/outline_picture_as_pdf_white_18dp.png" alt="to-pdf">
      </button>
    </div>

  </div>
</div>
