<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>
    <script th:src="@{/js/bootstrap.js}" defer></script>
</head>
<body>
<div th:fragment="footer">
    <div class="container-fluid text-center p-3 bg-nav">
        <strong>Andrzej Kiełbowicz || Artur Kubiak || Dariusz Raba || Marcin Łabaj</strong>
    </div>
</div>
</body>
</html>