<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side bar</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>
    <script th:src="@{/js/bootstrap.js}" defer></script>
</head>
<body>
<div th:fragment="navbar">
    <nav class="col-2 bg-nav p-1">
        <br>
        <div>
            <div class="bg-logo d-block m-auto">
                <img class="img-fluid d-block m-auto" src="../static/image/logo2.png" width="75" height="86" th:src="@{/image/logo2.png}" alt="Application Logo">
            </div>
            <h5 class="text-center">CookSy</h5>
        </div>
        <br>
        <div class="bg-nav-item p-3">
            <strong>HOME</strong>
        </div>
        <br>
        <div class="bg-nav-item p-3">
            <strong>ALL RECIPES</strong>
        </div>
        <br>
        <div class="bg-nav-item p-3">
            <strong>SHOPPING LISTS</strong>
        </div>
        <br>
        <div class="bg-nav-item p-3">
            <strong>FAVORITE RECIPES</strong>
        </div>
        <br>
        <div class="bg-nav-item p-3">
            <strong>ACCOUNT SETTING</strong>
        </div>
        <br>
    </nav>
</div>
</body>
</html>