<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side bar</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>
    <script th:src="@{/js/bootstrap.js}" defer></script>
</head>
<body>
<div class="navbar navbar-expand-lg col z-1" th:fragment="navbar">
    <div class="container-fluid">
        <button class="navbar-toggler navbar-dark bg-style p-2 mr-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar" aria-controls="navbar"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-nav p-1" id="navbar">
            <div class="navbar-nav">
                <div class="text-lg-start d-block m-auto">
                    <br>
                    <div class="bg-nav-item col p-3">
                        <strong>HOME</strong>
                    </div>
                    <br>
                    <div class="bg-nav-item col p-3">
                        <strong>ALL RECIPES</strong>
                    </div>
                    <br>
                    <div class="bg-nav-item col p-3">
                        <strong>SHOPPING LISTS</strong>
                    </div>
                    <br>
                    <div class="bg-nav-item col p-3">
                        <strong>FAVORITE RECIPES</strong>
                    </div>
                    <br>
                    <div class="bg-nav-item col p-3">
                        <strong>ACCOUNT SETTING</strong>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>