<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>
    <script th:src="@{/js/bootstrap.js}" defer></script>
</head>
<body>
<div th:fragment="recipes">
    <div class="d-flex justify-content-around flex-wrap">
        <div class="col-4 col-sm-3 col-lg-2 col-xxl-1 width-150 bg-style m-2">
            <img class="img-thumbnail d-block m-auto" src="#" th:src="@{/image/logo2.png}" alt="Recipe">
            <span><strong>Vegetarian curry with swebolderet potatoes and cauliflower</strong></span>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 col-xxl-1 width-150 bg-style m-2">
            <img class="img-thumbnail d-block m-auto" src="#" th:src="@{/image/logo2.png}" alt="Recipe">
            <span><strong>Vegetarian curry with swebolderet potatoes and cauliflower</strong></span>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 col-xxl-1 width-150 bg-style m-2">
            <img class="img-thumbnail d-block m-auto" src="#" th:src="@{/image/logo2.png}" alt="Recipe">
            <span><strong>Vegetarian curry with swebolderet potatoes and cauliflower</strong></span>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 col-xxl-1 width-150 bg-style m-2">
            <img class="img-thumbnail d-block m-auto" src="#" th:src="@{/image/logo2.png}" alt="Recipe">
            <span><strong>Vegetarian curry with swebolderet potatoes and cauliflower</strong></span>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 col-xxl-1 width-150 bg-style m-2">
            <img class="img-thumbnail d-block m-auto" src="#" th:src="@{/image/logo2.png}" alt="Recipe">
            <span><strong>Vegetarian curry with swebolderet potatoes and cauliflower</strong></span>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 col-xxl-1 width-150 bg-style m-2">
            <img class="img-thumbnail d-block m-auto" src="#" th:src="@{/image/logo2.png}" alt="Recipe">
            <span><strong>Vegetarian curry with swebolderet potatoes and cauliflower</strong></span>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 col-xxl-1 width-150 bg-style m-2">
            <img class="img-thumbnail d-block m-auto" src="#" th:src="@{/image/logo2.png}" alt="Recipe">
            <span><strong>Vegetarian curry with swebolderet potatoes and cauliflower</strong></span>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 col-xxl-1 width-150 bg-style m-2">
            <img class="img-thumbnail d-block m-auto" src="#" th:src="@{/image/logo2.png}" alt="Recipe">
            <span><strong>Vegetarian curry with swebolderet potatoes and cauliflower</strong></span>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 col-xxl-1 width-150 bg-style m-2">
            <img class="img-thumbnail d-block m-auto" src="#" th:src="@{/image/logo2.png}" alt="Recipe">
            <span><strong>Vegetarian curry with swebolderet potatoes and cauliflower</strong></span>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 col-xxl-1 width-150 bg-style m-2">
            <img class="img-thumbnail d-block m-auto" src="#" th:src="@{/image/logo2.png}" alt="Recipe">
            <span><strong>Vegetarian curry with swebolderet potatoes and cauliflower</strong></span>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 col-xxl-1 width-150 bg-style m-2">
            <img class="img-thumbnail d-block m-auto" src="#" th:src="@{/image/logo2.png}" alt="Recipe">
            <span><strong>Vegetarian curry with swebolderet potatoes and cauliflower</strong></span>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 col-xxl-1 width-150 bg-style m-2">
            <img class="img-thumbnail d-block m-auto" src="#" th:src="@{/image/logo2.png}" alt="Recipe">
            <span><strong>Vegetarian curry with swebolderet potatoes and cauliflower</strong></span>
        </div>
    </div>
</div>
</body>
</html>