<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>
    <script th:src="@{/js/bootstrap.js}" defer></script>
</head>
<body>
<div th:fragment="star">
<!--    <img src=".../static/image/Icon/star.png"-->
<!--         th:src="@{/image/Icon/star.png}" alt="Star">-->

    <img src=".../static/image/Icon/fill_star.png"
         th:src="@{/image/Icon/fill_star.png}" alt="Fill star">
</div>
</body>
</html>