body {
    background-image: url('../image/AdobeStock_200763146.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    background: rgba(207, 36, 10, 0.4);
    font-size: 35px;
    color: floralwhite;
}

.reply {
    max-width: 800px;
    margin-top: 15rem;
    background: none;
    color: floralwhite;
}

.mail-icon {
    text-align: right;
}

.pdf-icon {
    text-align: left;
}

.list-edition {
    max-width: 1100px;
}

.d-flex
{
    justify-content: center;
}

@media all and (max-width: 1100px) {
    .reply {
        margin-top: 10rem;
    }

    .container {
        font-size: 30px;
    }

    .list-edition {
        font-size: 25px;
    }

}

@media all and (max-width: 960px) {
    .reply {
        margin-top: 7rem;
    }

    .container {
        font-size: 25px;
    }
    .list-edition {
        font-size: 20px;
    }

}

@media all and (max-width: 800px) {
    .reply {
        margin-top: 5rem;
    }

    .container {
        font-size: 19px;
    }
    .list-edition {
        font-size: 15px;
    }

}



