.bg-page {
    background-image: url('../image/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-style {
    background: #CF240A 55%;
    color: white;
}

.bg-nav {
    background-color: #4E2F2F;
    border: 3px solid #A20505;
    color: white;
    width: auto;
}

.bg-nav-item {
    background-color: #CF240A;
    border: none;
}

.bg-logo {
    width: 90px;
    background-color: #67DE2E;
    border: 3px solid #328C07;
    border-radius: 45px;
}

.bg-orange {
    background-color: #ff5100;
    border: 2px solid #A10505;
    border-radius: 12px;
}

.bg-green {
    background-color: #2E9000;
    border: 2px solid #1F7A08;
    border-radius: 12px;
}

.m-top {
    margin: 3.5vw;
}

.logo {
    width: 75px;
    height: 86px;
}

.page-link {
    color: #A20505;
}

.page-item a:hover {
    color: black;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #A20505;
    border-color: #4E2F2F;
}

.custom-control:hover {
    background-color: #4E2F2F;
}

@media screen and (min-width: 1200px) {
    .width-150 {
        width: 13%;
    }
}

@media screen and (max-width: 578px) {
    .logo {
        width: 38px;
        height: 43px;
    }

    .bg-logo {
        width: 48px;
    }

    h5, .h5, span {
        font-size: 80%;
    }
}