<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu page</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>
    <script th:src="@{/js/bootstrap.js}" defer></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div th:insert="fragments/logout-button.html :: logout"></div>
        <div class="d-inline-block">
            <div th:replace="fragments/navbar.html :: navbar"></div>

            <div class="col-8 d-inline-flex justify-content-center">
                <h3 class="h4 col-3 bg-orange text-center p-2 m-3">Meat</h3>
                <h3 class="h4 col-3 bg-green text-center p-2 m-3">Vegetables</h3>
                <h3 class="h4 col-3 bg-orange text-center p-2 m-3">Additional</h3>
                <h3 class="h4  col-3 bg-green text-center p-2 m-3">Promotion</h3>
            </div>
        </div>

    </div>
</div>
</body>
</html>