<div class="d-flex justify-content-around flex-wrap">
  <div class="dropdown mt-2">
    <img class="dropdown-toggle bg-orange" src="assets/image/Icon/dish.png" (click)="collapsed()"
         [attr.aria-expanded]="!isCollapsed" aria-controls="dropdown" alt="Search">

    <div class="dropdown-menu bg-style" id="dropdown" [ngbCollapse]="isCollapsed">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input mx-1" id="all" checked>
        <label class="custom-control-label" for="all">All</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input mx-1" id="main_course" checked>
        <label class="custom-control-label" for="main_course">Main course</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input mx-1" id="side_dish" checked>
        <label class="custom-control-label" for="side_dish">side dish</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input mx-1" id="dessert" checked>
        <label class="custom-control-label" for="dessert">Dessert</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input mx-1" id="appetizer" checked>
        <label class="custom-control-label" for="appetizer">Appetizer</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input mx-1" id="salad" checked>
        <label class="custom-control-label" for="salad">Salad</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input mx-1" id="bread" checked>
        <label class="custom-control-label" for="bread">Bread</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input mx-1" id="breakfast" checked>
        <label class="custom-control-label" for="breakfast">Breakfast</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input mx-1" id="soup" checked>
        <label class="custom-control-label" for="soup">Soup</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input mx-1" id="beverage" checked>
        <label class="custom-control-label" for="beverage">Beverage</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input mx-1" id="sauce" checked>
        <label class="custom-control-label" for="sauce">Sauce</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input mx-1" id="marinade" checked>
        <label class="custom-control-label" for="marinade">Marinade</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input mx-1" id="fingerfood" checked>
        <label class="custom-control-label" for="fingerfood">Fingerfood</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input mx-1" id="snack" checked>
        <label class="custom-control-label" for="snack">Snack</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input mx-1" id="drink" checked>
        <label class="custom-control-label" for="drink">Drink</label>
      </div>
    </div>
  </div>

  <h3 class="bg-style-2 col-12 col-md-6 col-xl-4 mt-2">
    <label class="mr-2" for="search-ingredient">Ingredient</label>
    <input class="mt-1 col-5" #searchIngredient id="search-ingredient"/>
    <button class="ml-2 bg-green text-white"
            (click)="addIngredient(searchIngredient.value); searchIngredient.value = ''">Add</button>
  </h3>

  <h3 class="bg-style-2 col-12 col-md-6 col-xl-4 mt-2">
    <label class="mr-2" for="search-equipment">Equipment</label>
    <input class="mt-1 col-5" #searchEquipment id="search-equipment"/>
    <button class="ml-2 bg-green text-white"
            (click)="addEquipment(searchEquipment.value); searchEquipment.value = ''">Add</button>
  </h3>

  <button class="button" (click)="search()">
    <img class="dropdown-toggle bg-style-2" src="assets/image/Icon/search.png" alt="Search">
  </button>

  <button *ngIf="ingredients.length != 0 || equipments.length != 0" class="button"
          (click)="removeAll()">
    <img class="bg-style" src="assets/image/Icon/outline_clear_white_18dp.png" alt="Clear">
  </button>
</div>

<div class="col-12">
  <div class="d-flex flex-wrap justify-content-start" *ngIf="ingredients.length != 0">
    <div *ngFor="let ingredient of ingredients">
      <div class="bg-green m-1">{{ingredient}}
        <button class="button" (click)="removeIngredient(ingredient)">
          <img src="assets/image/Icon/baseline_clear_white_18dp.png" alt="Clear">
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex flex-wrap justify-content-start" *ngIf="equipments.length != 0">
    <div *ngFor="let equipment of equipments">
      <div class="bg-orange m-1">{{equipment}}
        <button class="button" (click)="removeEquipment(equipment)">
          <img src="assets/image/Icon/baseline_clear_white_18dp.png" alt="Clear">
        </button>
      </div>
    </div>
  </div>
</div>
