<form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()" >

    <img class="img-fluid d-block mx-auto" src="../assets/logo2.png" alt="logo">
    <span class="login-form-title mb-2 text-white">Cooksy</span>

  <mat-form-field class="wrap-input">
    <input class="input" matInput type="text" id="username" placeholder="Username" autocomplete="off" formControlName="username" required>
  </mat-form-field>

  <mat-form-field class="wrap-input">
    <input class="input" matInput type="password" id="password" placeholder="Password" formControlName="password" required>
  </mat-form-field>


  <!--    <div class="wrap-input">-->
<!--      <input class="input" type="text" [(ngModel)]="emailValue" placeholder="{{placeholderEmail}}" name="Email" required>-->
<!--    </div>-->

<!--    <div class="wrap-input">-->
<!--      <input class="input" type="text" [(ngModel)]="passwordValue" placeholder="{{placeholderPassword}}" name="Password" required>-->
<!--    </div>-->

    <div class="wrap-login-form-btn">
      <div class="login-form-bgbtn"></div>
<!--      <button class="login-form-btn">Login</button>-->
      <button class="login-form-btn" mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">LOG IN</button>
    </div>
</form>





