.bg-page {
  background-image: url('src/assets/image/manu_background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 250%;
}

.bg-style {
  background: rgba(207, 36, 10, 0.55);
  color: white;
}
