
<!--<form class="login-form" [formGroup]="registerForm" (ngSubmit)="register()">-->

<!--  <img class="img-fluid d-block mx-auto" src="../assets/logo2.png" alt="logo">-->
<!--  <span class="login-form-title mb-2 text-white">Cooksy</span>-->


<!--  <mat-form-field class="wrap-input">-->
<!--    <input matInput class="input" type="number" id="id"  placeholder="Id" formControlName="id" required>-->
<!--  </mat-form-field>-->


<!--  <mat-form-field class="wrap-input">-->
<!--    <input matInput class="input" type="number" id="type"  placeholder="Type" formControlName="type" required>-->
<!--  </mat-form-field>-->

<!--  <mat-form-field class="wrap-input">-->
<!--    <input matInput class="input" type="text" id="username"  placeholder="Username" autocomplete="off" formControlName="username" required>-->
<!--  </mat-form-field>-->


<!--  <mat-form-field class="wrap-input">-->
<!--    <input matInput class="input" type="password" id="password" placeholder="Password" formControlName="password" required>-->
<!--  </mat-form-field>-->

<!--&lt;!&ndash;  <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;    <input matInput class="input" type="password" id="confmPassword" placeholder="Confirm Password" formControlName="confirmPassword" required>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-form-field>&ndash;&gt;-->

<!--  <mat-form-field class="wrap-input">-->
<!--    <input matInput class="input" type="text" id="firstName" placeholder="First Name" formControlName="firstName" required>-->
<!--  </mat-form-field>-->

<!--  <mat-form-field class="wrap-input">-->
<!--    <input matInput class="input" type="text" id="lastName" placeholder="Last Name" formControlName="lastName" required>-->
<!--  </mat-form-field>-->

<!--  <mat-form-field class="wrap-input">-->
<!--    <input matInput class="input" type="text" id="email" placeholder="Email" formControlName="email" required>-->
<!--  </mat-form-field>-->

<!--  <mat-form-field class="wrap-input">-->
<!--    <input matInput class="input" type="text" id="photoUrl" placeholder="Photo Url" formControlName="photoUrl" required>-->
<!--  </mat-form-field>-->
<!--&lt;!&ndash;  <div class="wrap-input">&ndash;&gt;-->
<!--&lt;!&ndash;    <input class="input" type="text" [(ngModel)]="emailValue" placeholder="{{placeholderEmail}}" name="Email" required>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;  <div class="wrap-input">&ndash;&gt;-->
<!--&lt;!&ndash;    <input class="input" type="text" [(ngModel)]="phoneValue" placeholder="{{placeholderPhone}}" name="Phone" required>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->



<!--&lt;!&ndash;  <div class="wrap-input">&ndash;&gt;-->
<!--&lt;!&ndash;    <input class="input" type="text" [(ngModel)]="confirmPasswordValue" placeholder="{{placeholderConfirmPassword}}" name="Confirm Password" required>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->




<!--  <div class="wrap-login-form-btn">-->
<!--    <div class="login-form-bgbtn"></div>-->
<!--    <button mat-raised-button class="login-form-btn" type="submit" [disabled]="!registerForm.valid">Register</button>-->
<!--  </div>-->
<!--</form>-->


